body {
    font-family: 'Roboto', sans-serif;
    background-color: #d6e6f2;
    margin: 0;
}
.logo {
    margin-right: 10px;
}
.logoimg {
    width: 70px;
}
.citate {
    color: white;
    font-size: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    list-style: none;
    color: #112d4e;
}
.menu {
    display: flex;
    justify-content: center;
    background-color: #2d4059;
    padding: 10px;
    align-items: center;
}
.item-main {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    padding: 10px;
}
.item-main:hover {
    background-color: #1E2022;
    scale: 1.1;
}
img {
    width: 100%;
}
#myVideo {
    width: 100%;
}
.about {
    margin-left: 10px;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
}
.price-cont {
    position: relative;
    display: flex;
    justify-content: center;
}
.price-script {
    position: absolute;
    top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.price-name {
    font-family: 'Open Sans', sans-serif;
    background-color: #384259;
    font-size: 30px;
    padding: 20px;
    color: white;
}
.price-list {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.credo {
    margin: 20px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    color: white;
    background-color: #384259;
    line-height: 2;
}
.expert {
    display: flex;
    justify-content: center;
}
.heading {
    text-transform: uppercase;
    color: #112d4e;
    font-size: 30px;
}
.heading:hover {
    color: #07689f;
}
.list {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.category {
    list-style: none;
    font-size: 20px;
    padding: 30px;
  
}
.sm{
    color: white;
}
.big {
    text-transform: uppercase;
}
.category:hover {
    color: white;
    background-color: #384259;
}
form {
    margin-left: 10px;
}
.label {
    display: flex;
    flex-direction: column;
}
.btn {
    display: flex;
    justify-content: flex-start;
    font-size: 20px;
    border: none;
    cursor: pointer;
    padding: 12px;
    background-color: #06283D;
    color: #ffffff;
}

.send {
    background-color: #3f72af;
    color: white;
    text-transform: uppercase;
    padding: 20px;
    cursor: pointer;
    font-size: 15px;
}
.send:hover {
    background-color: #384259;
}
.adress {
    margin-left: 10px;
}
.adress-heading {
    margin-left: 10px;
}


.header {
    display: flex;
    justify-content: center;
}
.rev, h3 {
    font-family: 'Merriweather', serif;
    color: #06283D;
}
.container {
    display: flex;
}
.item {
    flex: 1;
    position: relative;
    font-family: 'Merriweather', serif;
    background-size: cover;
    background-position: center;
    height: 90vh;
    margin: 5px;
}
h4 {
    position: absolute;
    top: 15px;
    left: 40px;
    background-color: #ffffff;
    color: #06283D;
    opacity: 0;
}
.rec {
    position: absolute;
    top: 140px;
    left: 40px;
    background-color: #ffffff;
    color: #06283D;
    opacity: 0;
}
.selected {
    flex: 4;
}
.selected h4 {
    transition: all 1s ease-in;
    font-size: 25px;
    opacity: 1;  
}
.selected .rec {
    opacity: 1;
    transition: all 1s ease-in;
    font-size: 15px;
}
label {
    font-family: 'Merriweather', serif;
    font-size: 15px;
    color: #06283D;
}
.text {
    background-color:#faf1e6;
    border: none;
    padding: 12px 20px;
}

.one {
    background-image: url(https://images.unsplash.com/photo-1589829545856-d10d557cf95f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8bGF3fGVufDB8fDB8fA%3D%3D&w=1000&q=80);
}
.two {
    background-image: url(https://images.unsplash.com/photo-1450101499163-c8848c66ca85?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8bGF3fGVufDB8fDB8fA%3D%3D&w=1000&q=80);
}
.three {
    background-image: url(https://images.unsplash.com/photo-1423592707957-3b212afa6733?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Nnx8bGF3fGVufDB8fDB8fA%3D%3D&w=1000&q=80);
}
.four {
    background-image: url(https://images.unsplash.com/photo-1589391886645-d51941baf7fb?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8OHx8bGF3fGVufDB8fDB8fA%3D%3D&w=1000&q=80);
}
.five {
    background-image: url(https://images.unsplash.com/photo-1593115057322-e94b77572f20?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8OXx8bGF3fGVufDB8fDB8fA%3D%3D&w=1000&q=80);
}


/*Adaptive */

@media all and (max-width: 800px) {


    body {
        background-color: #3f72af;  
    }
    .citate {
        font-size: 17px;
    }
    .menu {
        flex-direction: column;
    }
    .about {
        font-size: 16px;
    }
    .flip-card {
        height: 500px; 
    }   
    .credo {
        line-height: 2;
        margin-left: 10px;
    }
    .text {
        font-size: 25px;
    }
    h1 {
        font-size: 20px;
    }
    .list {
        flex-direction: column;
    }
    .category {
        font-size: 15px;
        padding: 20px;
    }
    .container {
        display: flex;
        flex-direction: column;
        height: 100vh;
    }

    .price-image {
        height: 40vh;
    }

    .price-script {
        top: 10px;
    }
    .price-name {
        font-size: 15px;
        padding: 10px;
    }
    .credo {
        display: none;
    }
    .price-list {
        margin: 10px;
    }

}
    
@media all and (max-width: 500px) {

    body {
        background-color: #07689f;  
    }
    .logo {
        margin-right: 0;
    }
    .citate {
        padding-left: 0;
        font-size: 12px;
        flex-direction: column;
    }
    .about {
        font-size: 13px;
    }
    .category {
        font-size: 14px;
        padding: 12px;
    }
    .text {
        font-size: 15px;
    }
    .heading {
        font-size: 20px;
    }
    .heading:hover {
        color: white;
    }
    .credo {
        line-height: 1.5;
        font-size: 13px;
    }
    h1 {
        font-size: 13px;
    }
    .send {
        font-size: 13px;
        padding: 15px;
    }
    .adress {
        font-size: 13px;
    }  
    .selected p {
        font-size: 11px;
    }
    .selected h4 {
        font-size: 15px;
    } 
}
